<!DOCTYPE html>

<head>
   <%- include("../partials/head") %>
</head>

<style>
   .button {
      background-color: #222222; /* black */
      border: none;
      border-radius: 4px;
      color: white;
      padding: 3px 7px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
   }
</style>

<body class="container">
   <header>
      <%- include("../partials/header") %>
   </header>
   <main>
      <center class="jumbotron">
         <h2><a href="/download">Download Your Gallery</a></h2>
      </center>
   </main>

   <footer>
      <%- include("../partials/footer") %>
   </footer>
</body>
