<!DOCTYPE html>
<script>
   // array of gallery urls
   let galleryUrls = JSON.parse(sessionStorage.getItem("gal"));
   console.log("passed images");
   for (let i = 0; i < galleryUrls.length; i++) {
         console.log("image: " + i);
         console.log(galleryUrls[i]);
   }

</script>
<head>
   {% include "frontend/partials/head.html" %}
</head>

<style>
   .button {
      background-color: #222222; /* black */
      border: none;
      border-radius: 4px;
      color: white;
      padding: 3px 7px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
   }
</style>

<body class="container">
   <header>
      {% include "frontend/partials/header.html" %}
   </header>

   <main>
      <center class="jumbotron">
         <h2><a href="{{ url }}" download="my_img.png">Download Your Gallery</a></h2>
      </center>
   </main>

   <footer>
      {% include "frontend/partials/footer.html" %}
   </footer>
</body>
