<!DOCTYPE html>
<script>
   // array of gallery urls
   let galleryUrls = JSON.parse(sessionStorage.getItem("gal"));
   console.log("passed images");
   for (let i = 0; i < galleryUrls.length; i++) {
         console.log("image: " + i);
         console.log(galleryUrls[i]);
   }
</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<head>
   <title>Download Page</title>
   <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<div class="showcase">
   <div class="video-container">
      <video autoplay muted loop>
         <source src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637361985/solien/blue_planet.mp4" type="video/mp4">
      </video>
   </div>
   <div class="content">
      <h3 style="font-size: 35px;"><a href="{{ url }}">Click Here to Download Your Gallery</a></h3>
   </div>
</div>
