<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<head>
   <title>Error Page</title>
   <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<div class="showcase">
   <div class="video-container">
      <video autoplay muted loop>
         <source src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4" type="video/mp4">
      </video>
   </div>
   <div class="content">
      <h3><strong>Error</strong>: {{error_message}}</h3>
      <h3><a href="/">Click here to start again.</a></h3>
   </div>
</div>