<!DOCTYPE html>

<!-- Javascript -->
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   let color;
   let bgim;
   let bgtype;

   function redirectPage(job_id) {
      window.location.href = "/loading/download/" + job_id;
   }

   // Enqueues the creation of a gallery
   function enqueueGallery() {
      var nft_gallery = document.getElementById("nft-gallery").getElementsByClassName("nft-in-gal")
      if (nft_gallery.length == 0) {
          return;
      }
      let reqUrl = "/enqueue_gallery/"
      let galleryUrls = [];
      for (var i = 0; i < nft_gallery.length; ++i) {
          let url = nft_gallery[i].src;
          galleryUrls[i] = url.substring(url.lastIndexOf('/') + 1);
          reqUrl += (i > 0) ? "=" : "";
          reqUrl += galleryUrls[i];
          console.log(reqUrl);
      }

      document.cookie = "color=" + color + "; path=" + reqUrl;
      document.cookie = "backgroundImage=" + bgim + "; path=" + reqUrl;
      document.cookie = "backgroundImageType=" + bgtype + "; path=" + reqUrl;

      sessionStorage.setItem("gal", JSON.stringify(galleryUrls));
      $.ajax({
         type: "GET",
         url: reqUrl,
         success: redirectPage
      });
   }

   function addToGallery(img_url, id) {
      var nft_gallery = document.getElementById("nft-gallery").getElementsByClassName("nft-in-gal")
      if (nft_gallery.length >= 4) { return; }

      new_img = new Image();
      new_img.classList.add("nft-in-gal");
      new_img.draggable = true;
      new_img.id = id + "gallery";
      new_img.src = img_url;
      new_img.addEventListener('click', function () { removeFromGallery(id, img_url); });
      document.getElementById("nft-gallery").appendChild(new_img);
      //console.log(i);
      //console.log(document.getElementById(id).parentNode);
      document.getElementById(id).parentNode.removeChild(document.getElementById(id));
      addDraggableInGallery();
   }

   function addDraggableInGallery() {
      draggables = document.querySelectorAll('.nft-in-gal');
      nft_gallery = document.getElementById('nft-gallery');

      draggables.forEach(draggable => {
         draggable.addEventListener('dragstart',() => {
            draggable.classList.add('dragging');
         });
         draggable.addEventListener('dragend',() => {
            draggable.classList.remove('dragging');
         });
      });

      nft_gallery.addEventListener('dragover', e => {
          e.preventDefault();
          const afterElement = getDragAfterElement(nft_gallery, e.clientX);
          const draggable = document.querySelector('.dragging');
          if (afterElement == null) {
            nft_gallery.appendChild(draggable);
          } else {
            nft_gallery.insertBefore(draggable, afterElement);
          }
      });

      function getDragAfterElement(nft_gallery, x) {
         const draggableElements = [...nft_gallery.querySelectorAll('.nft-in-gal:not(.dragging)')]
         // console.log(draggableElements);
         return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect()
            const offset = x - box.left - box.width / 2
            if (offset < 0 && offset > closest.offset) {
               return { offset: offset, element: child }
            } else {
               return closest
         }
      }, { offset: Number.NEGATIVE_INFINITY }).element
      }
   }

   function removeFromGallery(id, url) {
      document.getElementById(id + "gallery").parentNode.removeChild(document.getElementById(id + "gallery"));
      new_img = new Image();
      new_img.classList.add("nft-not-in-gal");
      new_img.id = id;
      new_img.src = url;
      new_img.addEventListener('click', function () { addToGallery(url, id); });
      document.getElementById('inner-container').appendChild(new_img);
      addDraggableToGallery()
   }
   counter = 0;
   // think calling in excess but fine for now. -Aaron
   function addDraggableToGallery() {
     draggables = document.querySelectorAll('.nft-not-in-gal');
     nft_gallery = document.getElementById('nft-gallery');

     draggables.forEach(draggable => {
        draggable.addEventListener('dragstart',() => {
           draggable.classList.add('dragging');
        });
        draggable.addEventListener('dragend',() => {
           draggable.classList.remove('dragging');
        });
     });

     nft_gallery.addEventListener('dragover', e => {
        // counter = counter + 1;
        // if (counter >= 1){ return}
       // don't add NFT to gallery if 4 in gallery already
        // num_nfts_in_gallery = document.getElementById('nft-gallery').getElementsByClassName("nft-in-gal").length
        // if (num_nfts_in_gallery >= 4) { return; }
        // console.log("length: " + length.length);
        // console.log('here');

         e.preventDefault();
         const afterElement = getDragAfterElement(nft_gallery, e.clientX);
         const draggable = document.querySelector('.dragging');
         const nft_in_gal = toInGal(draggable)
         console.log(nft_in_gal);
         document.getElementById(id).parentNode.removeChild(document.getElementById(id));
         if (afterElement == null) {
           nft_gallery.appendChild(nft_in_gal);
         } else {
           nft_gallery.insertBefore(nft_in_gal, afterElement);
         }

     });

     function getDragAfterElement(nft_gallery, x) {
        const draggableElements = [...nft_gallery.querySelectorAll('.nft-in-gal:not(.dragging)')]
        // console.log(draggableElements);
        console.log(nft_gallery.length);
        console.log("x");
        return draggableElements.reduce((closest, child) => {
           const box = child.getBoundingClientRect()
           const offset = x - box.left - box.width / 2
           if (offset < 0 && offset > closest.offset) {
              return { offset: offset, element: child }
           } else {
              return closest
        }
     }, { offset: Number.NEGATIVE_INFINITY }).element
     }
   }

   function toInGal(nft_not_in_gal) {
     console.log('hi');
     new_img = new Image();
     new_img.classList.add("nft-in-gal");
     new_img.draggable = true;
     new_img.id = nft_not_in_gal.id + "gallery";
     new_img.src = nft_not_in_gal.img_url;
     console.log(new_img);
     return new_img;
   }

   function updateBackground() {
      bgtype = "color";
      color = document.getElementById("colorpicker").value;
      image = "linear-gradient(" + color + ", " + color + ")";
      document.getElementById("gallery").style.backgroundImage = image;
   }

   function updateBackground2(bgimage) {
      // image = new Image();
      // image.src = bgimage;
      // image.id = "galbgimage";
      // image.classList.add("gallery");
      // console.log("yeet");
      // console.log(image.src);
      // console.log(image.id);
      bgim = bgimage;
      bgtype = "image";
      document.getElementById("gallery").style.backgroundImage = "url('"+ bgimage+"')";
      console.log("success");
   }

   function setup() {
      updateBackground2("https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500");
      // updateBackground();
      // document.getElementById("colorpicker").addEventListener("input", updateBackground);
   }

   $(document).ready(setup);
</script>

<!-- CSS -->
<link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='styles/gallery_style.css') }}">

<!-- HTML -->

<head>
   <title>Gallery Builder</title>
   <link rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}">
   <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
   <div class="showcase">
      <div class="video-container">
         <video autoplay muted loop>
            <source
               src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4"
               type="video/mp4">
         </video>
      </div>

      <!-- Gallery -->

      <div id="gallery">
            <div class="nft-gallery" id="nft-gallery"></div>
      </div>

      <!--Background Selector-->
      <script>
         var elementSelected = null;
         var typeSelected = false;

         $(document).on('click', '.list-image > img', function () {
            $('.list-image > img').each(function () {
               $(this).removeClass('active');
            })
            $(this).addClass('active');
            elementSelected = $(this);
            typeSelected = false;
            console.log("Clicked");
            console.log(elementSelected.attr('src'));
            updateBackground2(elementSelected.attr('src'));
         });


         $(document).on('click', '#button-confirm', function () {

         })
      </script>

      <div class="parent-selector">
         <div class="select-image">
            <div class="list-image">
               <img class="active"
                  src="https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500"
                  alt="1">
               <img
                  src="https://www.wallpaperuse.com/wallp/59-595920_m.png"
                  alt="2">
               <img
                  src="https://media.musely.com/u/74b2435a-83fc-4a93-afd4-eddecd2f9f76.jpg"
                  alt="1">
               <img
                  src="https://www.teahub.io/photos/full/28-289473_twitter-cover-photo-45-stars..jpg"
                  alt="2">
               <input type="color" id="colorpicker" value="#ffffff" onchange="updateBackground()" onclick="updateBackground()">
               <button onclick="enqueueGallery()">Create</button>
            </div>
         </div>
      </div>
      <br>
      <br>
      <br>
      <br>

      <!-- Sidebar -->
      <div id="sticky-sidebar">
         <div>
            <ul class="list-group m-0 p-0">
               <!-- Image List -->
               <li class="list-group-item border-0 m-0 p-0" id="image-container">
                  <div id="inner-container">
                     {% for i in range(search_res|length()) %}
                     <img class="nft-not-in-gal" id="{{ i }}"
                        src="{{ search_res[i] }}"
                        onclick="addToGallery('{{ search_res[i] }}', id)"
                        draggable = true>
                     {% endfor %}
                     <script type="text/javascript">
                        addDraggableToGallery();
                     </script>
                  </div>

               </li>
            </ul>
         </div>
      </div>
   </div>
   </div>
</body>
