<!DOCTYPE html>

<!-- Javascript -->
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   let walletImages = [];
   let galleryImages = [];
   let color;
   let bgim;
   let bgtype;

   function redirectPage(job_id) {
      window.location.href = "/loading/download/" + job_id;
   }

   // Enqueues the creation of a gallery
   function enqueueGallery() {
      if (galleryImages.length == 0) {
          return;
      }
      let reqUrl = "/enqueue_gallery/"
      var photolist = document.getElementById("photolist").getElementsByClassName("nft")
      console.log("here: ");
      // console.log(photolist);
      // console.log(photolist[0]);
      let galleryUrls = [];
      for (var i = 0; i < photolist.length; ++i) {
          let url = photolist[i].src;
          galleryUrls[i] = url.substring(url.lastIndexOf('/') + 1);
          reqUrl += (i > 0) ? "=" : "";
          reqUrl += galleryUrls[i];
          console.log(reqUrl);
      }

      document.cookie = "color=" + color + "; path=" + reqUrl;
      document.cookie = "backgroundImage=" + bgim + "; path=" + reqUrl;
      document.cookie = "backgroundImageType=" + bgtype + "; path=" + reqUrl;

      sessionStorage.setItem("gal", JSON.stringify(galleryUrls));
      $.ajax({
         type: "GET",
         url: reqUrl,
         success: redirectPage
      });
   }

   let i = 0;
   function addToGallery(img_url, id) {
      if (i >= 4) { return; }
      // creates new image for gallery
      new_img = new Image();
      new_img.classList.add("nft");
      new_img.draggable = true;
      new_img.id = id + "gallery";
      new_img.src = img_url;
      new_img.addEventListener('click', function () { removeFromGallery(id, img_url); });
      document.getElementById("photolist").appendChild(new_img);
      // ajusts tracker structures
      galleryImages.push(document.getElementById(id));
      walletImages.pop(document.getElementById(id));
      i = i + 1;
      //console.log(i);
      //console.log(document.getElementById(id).parentNode);
      document.getElementById(id).parentNode.removeChild(document.getElementById(id));
      addDraggable();
   }

   function addDraggable() {
      draggables = document.querySelectorAll('.nft');
      photolist = document.getElementById('photolist');

      draggables.forEach(draggable => {
         draggable.addEventListener('dragstart',() => {
            draggable.classList.add('dragging');
         });
         draggable.addEventListener('dragend',() => {
            draggable.classList.remove('dragging');
         });
      });

      photolist.addEventListener('dragover', e => {
          e.preventDefault();
          const afterElement = getDragAfterElement(photolist, e.clientX);
          const draggable = document.querySelector('.dragging');
          if (afterElement == null) {
            photolist.appendChild(draggable);
          } else {
            photolist.insertBefore(draggable, afterElement);
          }
      });

      function getDragAfterElement(photolist, x) {
         const draggableElements = [...photolist.querySelectorAll('.nft:not(.dragging)')]
         console.log(draggableElements);
         return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect()
            const offset = x - box.left - box.width / 2
            if (offset < 0 && offset > closest.offset) {
               return { offset: offset, element: child }
            } else {
               return closest
         }
      }, { offset: Number.NEGATIVE_INFINITY }).element
      }
   }

   function removeFromGallery(id, url) {
      document.getElementById(id + "gallery").parentNode.removeChild(document.getElementById(id + "gallery"));
      walletImages.push(document.getElementById(id));
      galleryImages.pop(document.getElementById(id));
      i = i - 1;
      new_img = new Image();
      new_img.classList.add("selection-img");
      new_img.id = id;
      new_img.src = url;
      new_img.addEventListener('click', function () { addToGallery(url, id); });
      document.getElementById('inner-container').appendChild(new_img);
   }

   function updateBackground() {
      bgtype = "color";
      color = document.getElementById("colorpicker").value;
      image = "linear-gradient(" + color + ", " + color + ")";
      document.getElementById("gallery").style.backgroundImage = image;
   }

   function updateBackground2(bgimage) {
      // image = new Image();
      // image.src = bgimage;
      // image.id = "galbgimage";
      // image.classList.add("gallery");
      // console.log("yeet");
      // console.log(image.src);
      // console.log(image.id);
      bgim = bgimage;
      bgtype = "image";
      document.getElementById("gallery").style.backgroundImage = "url('"+ bgimage+"')";
      console.log("success");
   }

   function initialize(walletItem) {
      walletImages.push(walletItem);
      console.log(walletImages.length);
   }

   function setup() {
      updateBackground2("https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500");
      // updateBackground();
      // document.getElementById("colorpicker").addEventListener("input", updateBackground);
   }

   $(document).ready(setup);
</script>

<!-- CSS -->
<link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='styles/gallery_style.css') }}">

<!-- HTML -->

<head>
   <title>Gallery Builder</title>
   <link rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}">
   <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
   <div class="showcase">
      <div class="video-container">
         <video autoplay muted loop>
            <source
               src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4"
               type="video/mp4">
         </video>
      </div>

      <!-- Gallery -->

      <div id="gallery">
            <div class="photolist" id="photolist"></div>
      </div>

      <!--Background Selector-->
      <script>
         var elementSelected = null;
         var typeSelected = false;

         $(document).on('click', '.list-image > img', function () {
            $('.list-image > img').each(function () {
               $(this).removeClass('active');
            })
            $(this).addClass('active');
            elementSelected = $(this);
            typeSelected = false;
            console.log("Clicked");
            console.log(elementSelected.attr('src'));
            updateBackground2(elementSelected.attr('src'));
         });


         $(document).on('click', '#button-confirm', function () {

         })
      </script>

      <div class="parent-selector">
         <div class="select-image">
            <div class="list-image">
               <img class="active"
                  src="https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500"
                  alt="1">
               <img
                  src="https://www.wallpaperuse.com/wallp/59-595920_m.png"
                  alt="2">
               <img
                  src="https://media.musely.com/u/74b2435a-83fc-4a93-afd4-eddecd2f9f76.jpg"
                  alt="1">
               <img
                  src="https://www.teahub.io/photos/full/28-289473_twitter-cover-photo-45-stars..jpg"
                  alt="2">
               <input type="color" id="colorpicker" value="#ffffff" onchange="updateBackground()" onclick="updateBackground()">
               <button onclick="enqueueGallery()">Create</button>
            </div>
         </div>
      </div>
      <br>
      <br>
      <br>
      <br>

      <!-- Sidebar -->
      <div id="sticky-sidebar">
         <div>
            <ul class="list-group m-0 p-0">
               <!-- Image List -->
               <li class="list-group-item border-0 m-0 p-0" id="image-container">
                  <div id="inner-container">
                     {% for i in range(search_res|length()) %}
                     <img class="selection-img" id="{{ i }}"
                        src="{{ search_res[i] }}"
                        onclick="addToGallery('{{ search_res[i] }}', id)">
                     <script type="text/javascript">
                        initialize(document.getElementById(i));
                     </script>
                     {% endfor %}
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   </div>
</body>
