<!DOCTYPE html>

<!-- Javascript -->
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   let color;
   let bgim;
   let bgtype;

   function redirectPage(job_id) {
      window.open("/loading/download/" + job_id, "_blank");
   }

   // Enqueues the creation of a gallery
   function enqueueGallery() {
      var nft_gallery = document.getElementById("nft-gallery").getElementsByClassName("nft-in-gal")
      if (nft_gallery.length == 0) {
          return;
      }
      let reqUrl = "/enqueue_gallery/"
      let galleryUrls = [];
      for (var i = 0; i < nft_gallery.length; ++i) {
          let url = nft_gallery[i].src;
          galleryUrls[i] = url.substring(url.lastIndexOf('/') + 1);
          reqUrl += (i > 0) ? "=" : "";
          reqUrl += galleryUrls[i];
      }

      document.cookie = "color=" + color + "; path=" + reqUrl;
      document.cookie = "backgroundImage=" + bgim + "; path=" + reqUrl;
      document.cookie = "backgroundImageType=" + bgtype + "; path=" + reqUrl;

      sessionStorage.setItem("gal", JSON.stringify(galleryUrls));
      $.ajax({
         type: "GET",
         url: reqUrl,
         success: redirectPage
      });
   }

   // add NFT to gallery
   function addToGallery(img_url, id) {
      var nfts_in_gal = document.getElementById("nft-gallery").getElementsByClassName("nft-in-gal")
      if (nfts_in_gal.length >= 4) { return; }

      new_nft_in_gal = new Image();
      new_nft_in_gal.classList.add("nft-in-gal");
      new_nft_in_gal.draggable = true;
      new_nft_in_gal.id = id + "gallery";
      new_nft_in_gal.src = img_url;
      new_nft_in_gal.addEventListener('click', function () { removeFromGallery(id, img_url); });
      document.getElementById("nft-gallery").appendChild(new_nft_in_gal);
      document.getElementById(id).parentNode.removeChild(document.getElementById(id));
      addDraggableInGallery();
   }

   // make NFTs in gallery draggable to change order
   function addDraggableInGallery() {
      draggables = document.querySelectorAll('.nft-in-gal');
      nft_gallery = document.getElementById('nft-gallery');

      draggables.forEach(draggable => {
         draggable.addEventListener('dragstart',() => {
            draggable.classList.add('dragging');
         });
         draggable.addEventListener('dragend',() => {
            draggable.classList.remove('dragging');
         });
      });

      nft_gallery.addEventListener('dragover', e => {
          e.preventDefault();
          const afterElement = getDragAfterElement(nft_gallery, e.clientX);
          const draggable = document.querySelector('.dragging');
          if (afterElement == null) {
            nft_gallery.appendChild(draggable);
          } else {
            nft_gallery.insertBefore(draggable, afterElement);
          }
      });

      function getDragAfterElement(nft_gallery, x) {
         const draggableElements = [...nft_gallery.querySelectorAll('.nft-in-gal:not(.dragging)')]
         return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect()
            const offset = x - box.left - box.width / 2
            if (offset < 0 && offset > closest.offset) {
               return { offset: offset, element: child }
            } else {
               return closest
         }
      }, { offset: Number.NEGATIVE_INFINITY }).element
      }
   }

   // Remove NFT from gallery to bottom view
   function removeFromGallery(id, url) {
      document.getElementById(id + "gallery").parentNode.removeChild(document.getElementById(id + "gallery"));
      new_nft_not_in_gal = new Image();
      new_nft_not_in_gal.classList.add("nft-not-in-gal");
      new_nft_not_in_gal.id = id;
      new_nft_not_in_gal.src = url;
      new_nft_not_in_gal.addEventListener('click', function () { addToGallery(url, id); });
      document.getElementById('inner-container').appendChild(new_nft_not_in_gal);
   }

   // Update gallery background to a color
   function updateBackgroundColor() {
      bgtype = "color";
      color = document.getElementById("colorpicker").value;
      image = "linear-gradient(" + color + ", " + color + ")";
      document.getElementById("gallery").style.backgroundImage = image;
   }

   // Update gallery background to an image
   function updateBackgroundImage(bgimage) {
      bgim = bgimage;
      bgtype = "image";
      document.getElementById("gallery").style.backgroundImage = "url('"+ bgimage+"')";
      console.log("success");
   }

   function setup() {
      updateBackgroundImage("https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500");
   }

   $(document).ready(setup);
</script>

<!-- CSS -->
<link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='styles/gallery_style.css') }}">

<!-- HTML -->

<head>
   <title>Gallery Builder</title>
   <link rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}">
   <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
   <div class="showcase">
      <div class="video-container">
         <video autoplay muted loop>
            <source
               src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4"
               type="video/mp4">
         </video>
      </div>

      <!-- Gallery -->
      <div id="gallery">
            <div class="nft-gallery" id="nft-gallery"></div>
      </div>

      <!--Background Selector-->
      <script>
         var elementSelected = null;
         var typeSelected = false;

         $(document).on('click', '.list-image > img', function () {
            $('.list-image > img').each(function () {
               $(this).removeClass('active');
            })
            $(this).addClass('active');
            elementSelected = $(this);
            typeSelected = false;
            updateBackgroundImage(elementSelected.attr('src'));
         });

         $(document).on('click', '#button-confirm', function () {
         })
      </script>

      <div class="parent-selector">
         <div class="select-image">
            <div class="list-image">
               <img class="active"
                  src="https://pbs.twimg.com/profile_banners/1427360637408120837/1633464733/1500x500"
                  alt="1">
               <img
                  src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/21c9739f-5e76-4f78-a3f9-5f4f53a0482e/dcvjnwo-e7b5885d-480e-4d17-a0b3-59181ff069e3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIxYzk3MzlmLTVlNzYtNGY3OC1hM2Y5LTVmNGY1M2EwNDgyZVwvZGN2am53by1lN2I1ODg1ZC00ODBlLTRkMTctYTBiMy01OTE4MWZmMDY5ZTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZXU56r5G8o241r8ITiIgGX4mXxSg5bB31z26rNS86Ks"
                  alt="2">
               <img
                  src="https://media.musely.com/u/74b2435a-83fc-4a93-afd4-eddecd2f9f76.jpg"
                  alt="1">


                 <img src= "https://wc.wallpaperuse.com/wallp/59-595920_s.png"
                 alt="2">
                 <!-- "https://thelifeofsammiiejayyy.com/wp-content/uploads/2019/11/Purple-Space-Twitter-Header.jpg" -->
               <input type="color" id="colorpicker" value="#ffffff" onchange="updateBackgroundColor()" onclick="updateBackgroundColor()">
               <button onclick="enqueueGallery()">Create</button>
            </div>
         </div>
      </div>
      <br>
      <br>
      <br>
      <br>

      <!-- Sidebar -->
      <div id="sticky-sidebar">
         <div>
            <ul class="list-group m-0 p-0">
               <!-- Image List -->
               <li class="list-group-item border-0 m-0 p-0" id="image-container">
                  <div id="inner-container">
                     {% for i in range(search_res|length()) %}
                     <img class="nft-not-in-gal" id="{{ i }}"
                        src="{{ search_res[i] }}"
                        onclick="addToGallery('{{ search_res[i] }}', id)">
                     {% endfor %}
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   </div>
</body>
