<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   // Redirects the page to the appropriate loading screen.
   function redirectPage(job_id) {
      window.location.href = "/loading/" + job_id;
   }

   // Sets the action of the form after submission.
   function enqueue_search() {
      wallet = $("#wallet")[0].value;
      if (!wallet) { return; }
      
      req_url = "/enqueue_search/" + wallet;
      $.ajax({
         type: "GET",
         url: req_url,
         success: redirectPage
      });
   }
</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<head>
   <title>Solien Gallery</title>
</head>

<div class="showcase">
   <div class="video-container">
      <video autoplay muted loop>
         <source src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4" type="video/mp4">
      </video>
   </div>
   <div class="content">
      <h1>Solien Gallery</h1>
      <h2>A New Way To Showcase Your NFTs</h2>
      <center>
      <form id="form" onsubmit="enqueue_search()" method="get">
         <table>
            <tr>
               <td><br><input type="text" id="wallet" placeholder="Wallet Number"></td>
               <td style="padding: 10px"></td>
               <td><button onclick="enqueue_search()">Search</button></td>
            </tr>
         </table>
      </form>
      </center>
   </div>
</div>