<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   // Redirects the page to the appropriate loading screen.
   function redirectPage(job_id) {
      window.location.href = "/loading/gallery/" + job_id;
   }

   // Enqueues a blockchain search.
   function enqueueSearch() {
      let wallet = $("#wallet")[0].value;
      if (!wallet) { return; }

      let reqUrl = "/enqueue_search/" + wallet;
      $.ajax({
         type: "GET",
         url: reqUrl,
         success: redirectPage
      });
   }

   function setup() {
      $("#wallet").on('keyup', function (e) {
         if (e.key === 'Enter' || e.keyCode === 13) {
            enqueueSearch();
         }
      });
   }

   $(document).ready(setup);
</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<head>
   <title>Solien Gallery</title>
   <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<div class="showcase">
   <div class="video-container">
      <video autoplay muted loop>
         <source src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4" type="video/mp4">
      </video>
   </div>
   <div class="content">
      <img  src="{{ url_for('static', filename='images/logo4_cropped.png') }}">
      <h1>Solien Gallery</h1>
      <h3>A New Way To Showcase Your NFTs</h3>
      <center>
         <table>
            <tr>
               <td><br><input type="text" id="wallet" placeholder="Wallet Address"></td>
               <td style="padding: 10px"></td>
               <td><button onclick="enqueueSearch()">Search</button></td>
            </tr>
         </table>
      </center>
      <br>
      <br>
      <h4>About Us</h4>
      <i class="arrow downarrow"> </i>
   </div>
</div>
<div class="about">
   <center>
      <h2>About The Project</h2>
      <br>

      <p>This is the Solien Gallery, a project for COS 333 at Princeton University. We want to help Solien NFT owners show off their coolest Soliens with a custom Twitter banner.</p>
      <p>Enter your wallet address above to get started.</p>

      <a href="mailto:soliengallery@gmail.com">Contact us at soliengallery@gmail.com!</a>
      <br>
   </center>
</div>
