<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   const loadingTexts = ["Contacting Aliens",
                         "Sending Request to Mars",
                         "Debunking the Moon Landing",
                         "Hacking the Mars Rover",
                         "Contacting the Hubble Telescope",
                         "Launching Spaceman Shmu"];
   let ellipsis_call = 0;
   let stop_animation = false;

   function pollTaskQueue() {
      status_url = "/status/" + "{{ job_id }}";
      $.getJSON(status_url, function(data) {
         // Redirect to gallery page if task finished.
         if (data.status == "finished") {
            console.log(data.status)
            stop_animation = true;
            let nftList = JSON.parse(data.response)["nft_list"];
            let galleryLink = "/alpha_gallery/";
            for (let i = 0; i < nftList.length; i++) {
               let url = nftList[i]["metadata"]["image"];
               let url_id = url.substring(url.lastIndexOf('/') + 1);
               console.log(url_id);
               galleryLink += (i > 0) ? "=" : "";
               galleryLink += url_id; 
            }
            window.location.href = galleryLink;
         }
         // Redirect to error page if task failed.
         else if (data.status == "failed") {
            window.location.href = "{{ url_for('error', status_code='404') }}";
         }
         // Otherwise, poll the queue in another half a second.
         else {
            setTimeout(pollTaskQueue, 500);
         }
      });
   }

   function getLoadingText() {
      return $("#loading-text").text();
   }

   function setLoadingText(text) {
      $("#loading-text").html(text);
   }

   // Randomizes the loading text.
   function randomizeLoadingText() {
      let randomIndex = Math.floor(Math.random() * loadingTexts.length);
      setLoadingText(loadingTexts[randomIndex]);
      ellipsis_call = 0;
   }

   // Animates the loading text with ellipses, randomizing the displayed
   // text non-deterministically.
   function animateLoadingText() {
      if (stop_animation) { return; }
      let text = getLoadingText();
      let new_text = false;
      if (ellipsis_call < 3) {
         setLoadingText(text + ".");
      }
      else {
         new_text = (Math.random() > 0.33);
         if (new_text) {
            randomizeLoadingText();
         }
         else {
            setLoadingText(text.substring(0, text.length - 3));
         }
      }
      if (!new_text) {
         ellipsis_call = (ellipsis_call + 1) % 4;
      }
   }

   function setup() {
      // Set up loading text.
      randomizeLoadingText();
      window.setInterval(animateLoadingText, 400);

      // Set up the task polling.
      pollTaskQueue();
   }

   $(document).ready(setup);
</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<head>
   <title>Loading Page</title>
</head>

<div class="showcase">
   <div class="video-container">
      <video autoplay muted loop>
         <source src="https://res.cloudinary.com/dskvzlrpw/video/upload/v1637354076/solien/blue_planet.mp4" type="video/mp4">
      </video>
   </div>
   <div class="content">
      <center style="padding: 10px">
         <div class="lds-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
      </center>
      <h2 id="loading-text"></h2>
   </div>
</div>