@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #d0d0d0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

p {
    max-width: 50ch;
    font-weight: 200;
    font-size: 1em;
    line-height: 1.35;
    margin-bottom: 15px;
}

h1 {
    font-weight: 200;
    font-size: 100px;
    line-height: 1.2;
    margin-bottom: 15px;
}

h2 {
    font-weight: 200;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px;
}

h3 {
    font-weight: 60;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
      center/cover;*/
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 75%;
    left: 95%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.content {
   z-index: 2;
   padding-bottom: 50px;
}

.about {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 50px;
}

input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 60;
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 1px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 0.7;
}

input[type=submit]:hover {
    transform: scale(0.98);
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 60;
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 1px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 0.7;
}

button:hover {
    transform: scale(0.98);
}

::placeholder {
    color: #cccccc;
}

input[type=text] {
    padding:  7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    font-weight: 60;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}